header {
    background: #000000; /* цвет фона*/
    margin-top: 10px;   /* отступ сверху */
    height: 200px;      /* размер*/
}
.logo_img {
    margin-top: 30px;
    margin-left: 40px; /* отступ слева */
    width: 135px; /* ширина*/
    float: left;  /*Выравнивает элемент по левому краю.*/

}
.menu{
    list-style-type: none; /*убираем маркеры*/
    display: flex;          /* делаем горизонтальной  */
    padding: 70px;          /* внутрений оступ*/
    margin-left: 320px;     /* отступ слева */
    font-size: 20px;
}
.menu__Item{
    margin-left: 70px; /* отступы между словами*/
    font-size: 35px; /* размер шрифта */
    line-height: 50px; /* высота строки */
    text-transform: uppercase; /* шрифт заглавными*/

}
.menu__Item :hover{
    border-bottom: 2px solid #ffffff; /* подчеркивание при наведение*/
}
.menu__Item :link{
    color: #ffffff;
    text-decoration: none;
}

.menu__Item :visited{
    color: #ffffff;
}
main {
    margin-top: 10px;
    background: #ffffff;
    min-height: 500px;
}
.main__title {
    font-family: 'Kaushan Script', cursive; /* шрифт */
    margin-top: 50px;
    font-size: 93px; /* размер шрифта*/
    text-align: center;   /* текст по центру*/
    margin-top: 0px;  /* отсутп сверху*/
}
.main__row{
    display: flex;
    margin-left: 370px;
    margin-top: 50px;
}
.icon__men {
    width: 600px;

}
.icon__men:hover {
    -webkit-transform: scale(1.2); /*Указываем величину изображения при анимации*/
    -ms-transform: scale(1.2); /*Указываем величину изображения при анимации*/
    transform: scale(1.05); /*Указываем тип увеличения*/
}

.icon__women {
    margin-left: 15px;
    width: 600px;

}
.icon__women:hover {
    -webkit-transform: scale(1.1); /*Указываем величину изображения при анимации*/
    -ms-transform: scale(1.1); /*Указываем величину изображения при анимации*/
    transform: scale(1.05); /*Указываем тип увеличения*/
}
.item-row__title{
    margin-top: 10px;
    font-size: 23px;
    text-align: center;     /* текст по центру*/
    font-family: 'Lato', sans-serif;
}


footer{
    min-height: 200px;
    margin-top: 200px;
    background: #ffffff;
}

.info__title {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;   /* текст по центру*/
    margin-left: 50px;
}
.info__list {
    list-style-type: none; /*убираем маркеры*/
}
.info ul {
    display: table;
    margin: 0 auto;
}
.info li {
    float:left;
}

.list__Item {
    margin-left: 70px; /* отступы между словами*/
    font-size: 18px; /* размер шрифта */
    text-transform: uppercase; /* шрифт заглавными*/

}



